body{
    background-color: goldenrod;

    

}
section{
    background-color: white;
    border-radius: 10px;
    padding: 15px;
    width: 500px;
    margin: auto;
    margin-top: 5px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.459);
}
div#entrada{
    width: 500px;
    height: auto;
    padding-right: 10px;
    padding-left: 10px;
    text-align: center;
    justify-content: center;
    align-items: center;
}
footer{
    padding: 30px;
    width: 500px;
    margin: auto;
    font-size: 12pt;
    color: white;
}
button {
    font-size: 12pt;
    padding: 30px;
    width: 500px;
    margin: auto;
    background-color: gray;
    color: white;
    border-radius: 10px;
    box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.39);
   
}
h1{
    text-align: center;
    border: double;
    background-color: gray;
    color: white;
    width: 500px;
    margin: auto;
    margin-top: 100px;
    
}
p{
    text-align: center;
    font-size: x-large;
}
#produced{
    font-family: 'Dancing Script', cursive;
    
}



